{{ .REGISTRY_HTPASSWD_RAW_ENTRY_1 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_2 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_3 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_4 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_5 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_6 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_7 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_8 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_9 }}
{{ .REGISTRY_HTPASSWD_RAW_ENTRY_10 }}
